.button-component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;

  .color-picker-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .buttons-component {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
