.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 100%;
}

.App-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-logo {
  font-size: 4em;
  display: flex;
  flex-wrap: nowrap;
}

.main-layout {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "sidebar content";
}

.content {
  grid-area: content;
}

.side-bar-component {
  grid-area: sidebar;
}
